.hero{
    padding: 40px 0;
    margin-bottom: 60px;
}

.heroImage{
    width: 50%;
}

.heroDetailsTitle{
    font-size: 4.4rem;
    font-weight: 600;
    color: var(--darkViolet);
    margin-bottom: 4px;
}

.heroDetailsText{
    margin-top: 3px;
    font-size: 1.23rem;
    font-weight: 500;
    color: var(--grayishViolet);
    max-width: 480px;
}

@media( max-width: 1170px){
    .heroDetailsTitle{
        font-size: 3.5em;
    }
}
@media (max-width: 815px){
    .heroDetailsText{
        font-size: 1.23rem;
        text-align: center;
    }
    .heroDetailsTitle{
        font-size: 2.8em;
    }
    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }
}
@media (max-width: 490px){
    .heroDetailsTitle{
        font-size: 2rem;
    }
}