.urlCard{
    padding: 18px 15px;
    border-radius: 10px;
    background-color: var(--white);
    margin-block: 15px;
}

.urlCardLink{
    margin-right: 8px;
    color: var(--cyan);
    font-weight: 600;
}

.urlOriginalLink{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

@media (max-width:800px ){
    .urlCard{
        flex-direction: column;
    }
    .urlItemRight{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}