.urlCard{
    padding: 18px 15px;
    border-radius: 10px;
    background-color: var(--white);
    margin-block: 15px;
}

.urlCardLink{
    margin-right: 8px;
    color: var(--cyan);
    font-weight: 600;
}

.urlOriginalLink{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

@media (max-width: 868px){
    .urlOriginalLink{
        width: 200px;
    }
}

@media (max-width:800px){
    .urlCard{
        flex-direction: column;
    }
    .urlItemRight{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .urlCardLink{
        margin-block: 15px;
    }
    .urlOriginalLink{
        text-align: left;
        width: 400px;
    }
    .urlCard{
        position: relative;
    }
    .urlCard::after{
        content: '';
        position: absolute;
        width: 100%;
        background-color: var(--lightGray);
        height: 2px;
        bottom: 60%;
        left: 0%;
    }
}

@media (max-width: 550px){
    .urlOriginalLink{
        width: 200px;
    }
}

